In [1]:
import pandas as pd
from collections import defaultdict
from typing import DefaultDict
from pathlib import Path

import sys

SEP = " | "

In [2]:
pauq_train = pd.read_json("./en_iid_train.json")
tables = pd.read_json("./tables.json")

In [4]:
pauq_train

,id,db_id,source,type,query,question,sql,question_toks,query_toks,query_toks_no_values,masked_query
0,TS_0001,department_management,spider-train,train,SELECT count(*) FROM head WHERE age > 56;,How many heads of the departments are older th...,"{'from': {'table_units': [['table_unit', 1]], ...","[How, many, heads, of, the, departments, are, ...","[select, count, (, *, ), from, head, where, ag...","[select, count, (, *, ), from, head, where, ag...",SELECT count(*) FROM head WHERE age > NUMERIC_...
1,TS_0002,department_management,spider-train,train,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...","{'from': {'table_units': [['table_unit', 1]], ...","[List, the, name, ,, born, state, and, age, of...","[select, name, ,, born_state, ,, age, from, he...","[select, name, ,, born_state, ,, age, from, he...","SELECT name , born_state , age FROM head ORDER..."
2,TS_0003,department_management,spider-train,train,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...","{'from': {'table_units': [['table_unit', 0]], ...","[List, the, creation, year, ,, name, and, budg...","[select, creation, ,, name, ,, budget_in_billi...","[select, creation, ,, name, ,, budget_in_billi...","SELECT creation , name , budget_in_billions FR..."
3,TS_0004,department_management,spider-train,train,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...,"{'from': {'table_units': [['table_unit', 0]], ...","[What, are, the, maximum, and, minimum, budget...","[select, max, (, budget_in_billions, ), ,, min...","[select, max, (, budget_in_billions, ), ,, min...","SELECT max(budget_in_billions) , min(budget_in..."
4,TS_0005,department_management,spider-train,train,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...,"{'from': {'table_units': [['table_unit', 0]], ...","[What, is, the, average, number, of, employees...","[select, avg, (, num_employees, ), from, depar...","[select, avg, (, num_employees, ), from, depar...",SELECT avg(num_employees) FROM department WHER...
...,...,...,...,...,...,...,...,...,...,...,...
8795,L_0016,match_season,addition,train,SELECT DISTINCT(Season) FROM match_season WHER...,At what seasons was Paulo Petrov in substitute?,"{'from': {'table_units': [['table_unit', 2]], ...","[At, what, seasons, was, Paulo, Petrov, in, su...","[select, distinct, (, season, ), from, match_s...","[select, distinct, (, season, ), from, match_s...",SELECT DISTINCT(Season) FROM match_season WHER...
8796,L_0017,college_1,addition,train,"SELECT CRS_CREDIT, CRS_CODE FROM COURSE WHERE ...",Credits amount and code for course about the l...,"{'from': {'table_units': [['table_unit', 1]], ...","[Credits, amount, and, code, for, course, abou...","[select, crs_credit, ,, crs_code, from, course...","[select, crs_credit, ,, crs_code, from, course...","SELECT CRS_CREDIT, CRS_CODE FROM COURSE WHERE ..."
8797,L_0018,department_store,addition,train,"SELECT order_id , customer_id FROM customer_o...","Show, please, the order id, customer id for or...","{'from': {'table_units': [['table_unit', 8]], ...","[Show, ,, please, ,, the, order, id, ,, custom...","[select, order_id, ,, customer_id, from, custo...","[select, order_id, ,, customer_id, from, custo...","SELECT order_id , customer_id FROM customer_or..."
8798,L_0019,cre_Drama_Workshop_Groups,addition,train,SELECT COUNT(*) FROM Marketing_Regions WHERE M...,Marketing regions number for bad food.,"{'from': {'table_units': [['table_unit', 4]], ...","[Marketing, regions, number, for, bad, food, .]","[select, count, (, *, ), from, marketing_regio...","[select, count, (, *, ), from, marketing_regio...",SELECT COUNT(*) FROM Marketing_Regions WHERE M...
8799,L_0020,scientist_1,addition,train,SELECT T3.name FROM assignedto AS T1 JOIN proj...,Names of the scientist who worked on a project...,"{'from': {'table_units': [['table_unit', 2], [...","[Names, of, the, scientist, who, worked, on, a...","[select, t3.name, from, assignedto, as, t1, jo...","[select, t3.name, from, assignedto, as, t1, jo...",SELECT T3.name FROM assignedto AS T1 JOIN proj...

In [46]:
import numpy as np

d = []
for i in pauq_train['query_toks_no_values'].values:
    d.extend(i)
d = np.unique(np.array(d), return_counts=True)
dict(list(filter(lambda x : x[1] > 5, sorted(list(zip(d[0], d[1])), key=lambda x : x[1])))).keys()

dict_keys(['120', '180', '1995', '1996', '1999', '2003', '2006', '2017', '32', '50000', '8000', '85', '94107', 'account_name', 'accreditation_type', 'address_line_1', 'aid', 'airport_name', 'amount_payment', 'amount_piad', 'apartment_facilities', 'artists', 'attribute_data_type', 'attribute_definitions', 'attribute_value', 'bedroom_count', 'behavior_incident', 'birth_country', 'bname', 'builder', 'candidate_id', 'candidates', 'catalog_structure', 'claims_processing_stages', 'club_rank', 'coach', 'company_name', 'comptroller', 'country_id', 'country_name', 'course_name', 'culture_company', 'customer_last_name', 'date_assigned_to', 'date_became_customer', 'date_of_notes', 'date_order_placed', 'date_payment_made', 'dept_address', 'detention', 'document_status_code', 'documents_mailed', 'domain_publication', 'donator_name', 'dormid', 'dst_apid', 'emp_fname', 'famous_title', 'fault_log', 'fda_approved', 'film_actor', 'forename', 'gdp', 'gender_code', 'grant_amount', 'hall_of_fame', 'invoice_number', 'job_title', 'lake', 'lake_name', 'left_office', 'log_entry_date', 'machine', 'manager_name', 'maxoccupancy', 'mean_humidity', 'media_types', 'member_attendance', 'member_name', 'member_of', 'minor_in', 'monthly_rental', 'name_first', 'name_last', 'news_report', 'num_of_audience', 'number_of_hosts', 'occupation', 'overall_rating', 'pages_per_minute_color', 'party_forms', 'pets_allowed_yn', 'phone_market', 'pilot_record', 'player_award', 'poll_source', 'primaryaffiliation', 'publication_date', 'rating_in_percent', 'ref_calendar', 'ref_shipping_agents.shipping_agent_code', 'region_id', 'release_year', 'rental_rate', 'research_outcomes', 'role_name', 'scientist', 'secretary_vote', 'service_name', 'shipment_date', 'ssn', 'staff_details', 'start_date', 'statement_id', 'stores', 'suppliers', 't1.activity_name', 't1.amenity_name', 't1.amount_claimed', 't1.artwork_id', 't1.asset_id', 't1.candidate_id', 't1.capital', 't1.channel_id', 't1.city_code', 't1.customer_first_name', 't1.customer_last_name', 't1.date_of_completion', 't1.date_of_enrolment', 't1.department_name', 't1.device_id', 't1.district', 't1.document_type_code', 't1.engineer_id', 't1.famous_title', 't1.guest_id', 't1.height', 't1.investor', 't1.investor_id', 't1.job', 't1.job_id', 't1.journal_id', 't1.lat', 't1.location_code', 't1.location_id', 't1.long', 't1.machine_id', 't1.model_name', 't1.money_requested', 't1.organization_name', 't1.outcome_code', 't1.park_id', 't1.part_name', 't1.participant_id', 't1.party_email', 't1.personal_name', 't1.player_api_id', 't1.player_name', 't1.policy_type_code', 't1.prereq_id', 't1.rank', 't1.rate', 't1.region_name', 't1.representative_id', 't1.result', 't1.stageposition', 't1.store_name', 't1.time', 't1.total', 't1.total_points', 't1.workshop_group_id', 't2.accelerator_id', 't2.account_id', 't2.account_name', 't2.address', 't2.artwork_id', 't2.attraction_type_code', 't2.bikes_available', 't2.bname', 't2.browser_id', 't2.building', 't2.camera_lens_id', 't2.candidate_id', 't2.channel_id', 't2.chip_model', 't2.citedpaperid', 't2.citingpaperid', 't2.county_id', 't2.date_order_placed', 't2.days_held', 't2.decor', 't2.delegate', 't2.document_name', 't2.editor_id', 't2.employer_organisation_id', 't2.form_id', 't2.guest_id', 't2.individual_id', 't2.interaction_type', 't2.inventory_id', 't2.invoice_number', 't2.machine_id', 't2.mediatypeid', 't2.member_in_charge_id', 't2.name_first', 't2.name_last', 't2.organisation_type', 't2.park_id', 't2.patient', 't2.personal_name', 't2.player', 't2.player_api_id', 't2.points', 't2.representative_id', 't2.score', 't2.shop_name', 't2.subject_id', 't2.subject_name', 't2.type', 't2.unit_of_measure', 't2.weight', 't2.winning_pilot', 't2.workshop_group_id', 't3.airport_name', 't3.city_code', 't3.city_id', 't3.cost', 't3.crs_description', 't3.district_name', 't3.emp_num', 't3.festival_id', 't3.game_id', 't3.member_id', 't3.policy_id', 't3.product_name', 't3.project_id', 't3.sex', 't3.technician_id', 't4.amenid', 't4.citation_num', 't4.color_code', 't4.color_description', 't4.emp_num', 't4.host_city', 't4.product_details', 't4.product_name', 't5.dept_code', 't5.dept_name', 't5.paperid', 't5.year', 'time_of_day', 'total_horses', 'total_passengers', 'total_points', 'town_city', 'tracklists', 'trust', 'typical_buying_price', 'undergoes', 'unitprice', 'weekly_weather', '10000000', '150', '3.5', '6000', 'bridge', 'candidate_assessments', 'catalog_level_number', 'class_room', 'crs_credit', 'document_type_description', 'driverid', 'end_station_name', 'event_id', 'happy_hour', 'hoursperweek', 'international_passengers', 'lots', 'mailshot_customers', 'maintenance_engineers', 'market_share', 'membership_card', 'nomination', 'openning_year', 'other_details', 'participants', 'payment_date', 'products_booked', 'products_for_hire', 'prominence', 'range', 'ref_shipping_agents', 'residence', 'schedule', 'student.stuid', 't1.address', 't1.fault_log_entry_id', 't1.graphics_mode', 't1.neighbourhood_name', 't1.u_id', 't2.college_id', 't2.event_id', 't2.journalid', 't2.order_quantity', 't2.shop_id', 't2.u_id', 't3.citation_num', 't3.company_id', 't3.station_id', 't4.did', 't5.citingpaperid', 'u_id', 'vehicles', 'view_unit_status', 'visit_end_datetime', 'votes', '111', '1500', '1850', '1989', '70', '80', 'account_details', 'active_from_date', 'active_to_date', 'apid', 'apt_number', 'bathroom_count', 'birth_place', 'budget_million', 'card_number', 'catalog_publisher', 'channel_code', 'circuits', 'citation_num', 'cloud_cover', 'complaint_status_code', 'crime_rate', 'cust_id', 'customer_first_name', 'customer_payments', 'damage_millions_usd', 'days_held', 'debate', 'department_name', 'department_stores', 'division', 'document_sections', 'document_types', 'election_cycle', 'emp_jobcode', 'farm', 'floors', 'follows', 'furniture_manufacte', 'genre_is', 'governor', 'hours_played', 'individuals', 'interaction_type', 'investors', 'invoice_date', 'jobs', 'login_name', 'mailing_date', 'max_speed', 'mission', 'money_requested', 'nickname', 'number_cities', 'number_deaths', 'office_locations', 'official_name', 'operate_company', 'organisation_types', 'organization_contact_individuals', 'organization_name', 'paperid', 'participants_in_events', 'party_name', 'party_theme', 'problem_id', 'problem_log_id', 'product_details', 'prof_high_degree', 'project_details', 'protein', 'reign', 'rental', 'research_staff', 'roomid', 'sales_billion', 'school_bus', 'settlement_amount', 'starting_year', 'stay', 'student_addresses', 'subjects', 'support_rate', 't1.account_name', 't1.albumid', 't1.blockcode', 't1.blockfloor', 't1.category_id', 't1.cmi_cross_ref_id', 't1.county_name', 't1.customer_address_id', 't1.customerid', 't1.date_claim_made', 't1.date_order_placed', 't1.editor_id', 't1.emp_lname', 't1.formats', 't1.host_id', 't1.location', 't1.member_name', 't1.organization_id', 't1.part_id', 't1.problem_id', 't1.product_category_code', 't1.program_id', 't1.register_year', 't1.reports_to', 't1.school_code', 't1.staff_gender', 't1.state_province_county', 't1.stu_lname', 't1.submission_id', 't1.supplier_id', 't1.technician_id', 't1.trade_name', 't1.wrestler_id', 't2.club_id', 't2.cmi_cross_ref_id', 't2.crs_code', 't2.customerid', 't2.department', 't2.dept_store_id', 't2.document_code', 't2.duration', 't2.enroll_grade', 't2.enzyme_id', 't2.f1', 't2.fastestlapspeed', 't2.genre_is', 't2.grant_id', 't2.host_id', 't2.hours', 't2.job_title_code', 't2.lettergrade', 't2.mar', 't2.medication', 't2.milliseconds', 't2.order_status_code', 't2.organization_id', 't2.product_price', 't2.prof_office', 't2.railway_id', 't2.role_name', 't2.song_name', 't2.stadium_id', 't2.submission_id', 't2.text', 't2.theme', 't2.total', 't2.transaction_id', 't2.uid', 't2.wrestler_id', 't3.cid', 't3.course_id', 't3.departmentid', 't3.kid', 't3.raceid', 't3.service_name', 't3.staff_first_name', 't3.staff_last_name', 't3.stu_num', 't4.business_id', 't4.crs_code', 't4.dept_name', 't6.venueid', 't6.venuename', 'tasks', 'test_result', 'took_office', 'trade_name', 'users', 'wedding', 'year_opened', '60', '7', 'attendance', 'bike_id', 'catalogs', 'debate_people', 'domain_author', 'eliminated_by', 'employee_name', 'journal_committee', 'manager', 'max_temperature_f', 'order_date', 'order_status_code', 'raceid', 'record', 'stu_fname', 't1.college_id', 't1.date', 't1.dname', 't1.event_id', 't1.pilot_id', 't1.teacher_id', 't1.text', 't2.building_id', 't2.company_name', 't2.course_name', 't2.hardware_model_name', 't2.location', 't2.rank', 't2.role', 't2.school_name', 't2.screen_mode', 't3.order_quantity', 't3.service_id', 't5.kid', 'writer', 'year_join', '100000', '12000', '15', '1980', '3000', 'accelerator_compatible_browser', 'active', 'airport_aircraft', 'amount_outstanding', 'assets', 'award', 'bikes_available', 'book', 'built_year', 'catalog_contents_additional_attributes', 'clublocation', 'commission_pct', 'customer_policies', 'date_claim_made', 'destroyed_by_employee_id', 'destruction_authorised_by_employee_id', 'district_name', 'dname', 'document_type_name', 'first_notification_of_loss', 'flno', 'followers', 'friend', 'furniture', 'gradeconversion', 'i_id', 'inventory', 'invoice', 'label', 'laptimes', 'member_id', 'mill', 'minister', 'month', 'neighbourhood', 'onscholarship', 'oppose_rate', 'organisation_id', 'party_host', 'pname', 'police_force', 'president_vote', 'ref_budget_codes', 'ref_service_types', 'regional_population', 'repair_assignment', 'scores', 'shop_id', 'statements', 'station_company', 'student_tests_taken', 'supplier_id', 't1.author_id', 't1.border', 't1.code', 't1.committee', 't1.country_name', 't1.document_code', 't1.exhibition_id', 't1.festival_id', 't1.grant_id', 't1.instructor', 't1.mountain_id', 't1.name_first', 't1.name_last', 't1.pname', 't1.role_code', 't1.s_id', 't1.salary', 't1.service_type_description', 't1.uid', 't2.actor_id', 't2.amount', 't2.author', 't2.budget_type_code', 't2.document_type_code', 't2.exhibition_id', 't2.faculty', 't2.gameid', 't2.gradepoint', 't2.musical_id', 't2.organisation_id', 't2.playlist_id', 't2.policy_id', 't2.price', 't2.product_category_code', 't2.prof_num', 't2.program_id', 't2.project', 't2.roomname', 't2.salary', 't2.staff_first_name', 't2.staff_last_name', 't2.start_station_id', 't2.storm_id', 't2.swimmer_id', 't2.weeks_on_top', 't3.airport_id', 't3.class_code', 't3.customer_id', 't3.driverid', 't3.forename', 't3.headquartered_city', 't3.location', 't3.location_id', 't3.party_id', 't3.staff_id', 't3.storm_id', 't3.tourist_attraction_id', 't5.mid', 't6.pid', 't7.pid', 'theme', 'tonnage', 'total_amount_purchased', 'train_station', 'weeks_on_top', 'yearid', 'years_working', '10000', 'acceptance', 'amount_of_transaction', 'assessment_notes', 'camera_lens', 'church', 'cmi_cross_references', 'engineer_visits', 'exhibition_record', 'gamesplayed', 'head', 'home_city', 'investor_id', 'level', 'mountain_name', 'nurse', 'parties', 'party_id', 'screen_mode', 'share_count', 't1.area', 't2.customer_name', 't2.kid', 't2.market_id', 't2.member_id', 't2.outcome_code', 'useracct', '18', '2001', '2007', '500', 'acc_bal', 'all_documents', 'amount_settled', 'architect', 'artist_id', 'artwork', 'city_area', 'claim_headers', 'customer_status_code', 'customers_policies', 'date_problem_reported', 'date_to', 'departmentid', 'facid', 'family_name', 'film_id', 'grape', 'grapes', 'hometown', 'job_history', 'management', 'manager_id', 'milliseconds', 'no_of_customers', 'open_date', 'order_quantity', 'pitstops', 'player_attributes', 'playlist_tracks', 'problem_log', 'railway', 'ref_locations', 'rid', 'role_description', 'ship_id', 'shipments', 'shop_name', 'star_rating_code', 'store_id', 't1.actid', 't1.alid', 't1.bname', 't1.booking_status_code', 't1.city_town', 't1.club_id', 't1.color', 't1.customer_details', 't1.dno', 't1.document_name', 't1.duration', 't1.emp_fname', 't1.employee_id', 't1.genreid', 't1.grade', 't1.hs', 't1.nationality', 't1.organisation_type', 't1.patient', 't1.service_id', 't1.ssn', 't1.statement_id', 't1.stu_fname', 't1.team', 't1.team_id_winner', 't2.apt_number', 't2.artistid', 't2.department_name', 't2.district_id', 't2.document_id', 't2.dst_apid', 't2.election_cycle', 't2.host_city_id', 't2.how_to_get_there', 't2.party_name', 't2.region_name', 't2.role_code', 't2.src_apid', 't2.ssn', 't2.staff_address_id', 't2.store_name', 't2.time_of_day', 't2.tourist_details', 't3.age', 't3.district_id', 't3.rid', 't3.tourist_id', 't4.product_id', 't4.user_id', 't5.aid', 't5.msid', 'takes', 'temperature', 'ticket_price', '1990', '2004', 'birth_city', 'birth_year', 'browser', 'endowment', 'guests', 'injury_accident', 'lowest_point', 'start_station_name', 't1.market_id', 't1.price', 't1.type', 't2.aircraft_id', 't2.airport_id', 't3.jid', 'text', '+', '25', '40', '750', '8', '90', 'access_count', 'apartment_buildings', 'budget_type_code', 'buildings', 'checkin', 'city_population', 'clubname', 'county_name', 'customer_contact_channels', 'date_from', 'date_of_birth', 'dorm_name', 'eid', 'elevation', 'email', 'enrolled_in', 'events', 'farm_competition', 'formats', 'founder', 'genres', 'gname', 'how_to_get_there', 'lat', 'market_value', 'medication', 'participates_in', 'party_events', 'payment', 'personal_name', 'phone_number', 'playlists', 'postseason', 'ref_product_categories', 'region_name', 'stars', 'store_district', 'swimmer', 't1.dept_name', 't1.gameid', 't1.grape', 't1.musical_id', 't1.project_details', 't1.ship_id', 't1.store_id', 't1.subject_id', 't1.supportrepid', 't1.user_id', 't2.advisor', 't2.alid', 't2.city_id', 't2.country_id', 't2.customer_details', 't2.decision', 't2.district', 't2.dno', 't2.eid', 't2.grape', 't2.height', 't2.host_city', 't2.investor_id', 't2.languages', 't2.medicine_id', 't2.order_status', 't2.resolution', 't2.service_id', 't2.tourist_id', 't2.treatment', 't2.winning_aircraft', 't3.activity_name', 't3.dorm_name', 't3.release_year', 't4.dept_code', 't4.kid', 'trained_in', 'tweets', 'web_client_accelerator', '2008', '2011', '600', 'affiliated_with', 'bookings', 'driver', 'editor', 'event', 'game', 'institution', 'manufacturer', 'mountain_altitude', 'park', 'payments', 't2.company_id', 't2.service_type_code', 't3.address_id', 't5.title', 'transaction_type_code', 'acc_type', 'account_id', 'amount_claimed', 'appelation', 'appointment', 'available_policies', 'billing_country', 'billing_state', 'campusfee', 'catalog_entry_name', 'county_id', 'customer_details', 'document_locations', 'flag', 'gas_station', 'home_game', 'item', 'journalist', 'location_name', 'max_page_size', 'membership_amount', 'membership_register_branch', 'mid', 'organisations', 'people_id', 'prescribes', 'price_range', 'product_suppliers', 'room_count', 'software_platform', 'stock', 't1.account_id', 't1.apid', 't1.artistid', 't1.class_code', 't1.county', 't1.director', 't1.document_id', 't1.dorm_name', 't1.forename', 't1.jid', 't1.prof_num', 't1.project', 't1.staff_name', 't2.age', 't2.claim_id', 't2.employeeid', 't2.fname', 't2.genre_id', 't2.location_id', 't2.mountain_id', 't2.rid', 't2.roomid', 't2.ship_id', 't2.store_id', 't2.team_id', 't3.instid', 'tip', 'transaction_type', 'winery', 'chip_model', 'customer_addresses', 'festival_detail', 'photos', 'representative', 'roller_coaster', 'school_id', 'state_province_county', 't1.gender', 't1.service_type_code', 't2.keyphrasename', 't3.category_name', 'time', 'basketball_match', 'broadcast', 'cost', 'credit_score', 'credits', 'denomination', 'documents_to_be_destroyed', 'domain', 'drama_workshop_groups', 'hosting_city', 'hs', 'instrument', 'investor', 'job_id', 'music_festival', 'organizations', 'owner', 'ref_document_types', 'school_code', 'song_name', 'station_id', 't1.aircraft', 't1.appelation', 't1.attendance', 't1.eid', 't1.f_id', 't1.scientist', 't1.shop_id', 't1.stu_num', 't1.track_id', 't2.allergytype', 't2.author_id', 't2.capital', 't2.citation_num', 't2.color_code', 't2.cust_id', 't2.director', 't2.f_id', 't2.genreid', 't2.i_id', 't2.party', 't2.ppos', 't2.region_id', 't3.amenity_name', 't3.ssn', 't4.cid', 't5.authorname', 'visitors', 'weight', 'body_builder', 'carrier', 'email_address', 'f_id', 'grants', 'lessons', 'market', 'score', 't1.cid', 't4.jid', 'total', '-', '2002', '300', 'affiliation', 'amount', 'balance', 'channel', 'csu_fees', 'customer_phone', 'device', 'film_market_estimation', 'hotels', 'instruments', 'lives_in', 'payment_method', 'plays_games', 'prereq', 'sportname', 'staff_department_assignments', 'student_capacity', 'student_course_attendance', 't1.booking_start_date', 't1.i_id', 't1.raceid', 't1.sex', 't1.surname', 't2.allergy', 't2.appelation', 't2.emp_fname', 't2.hometown', 't2.lname', 't2.state_name', 't3.crs_code', 't3.custid', 't6', 'transaction_amount', '2005', 'crs_code', 'destination', 'host', 'hours', 'perpetrator', 'points', 'student_course_registrations', 't1.aircraft_id', 't1.did', 't1.member_id', 't1.msid', 't2.rating', '2012', 'appellations', 'artist_name', 'campus', 'certificate', 'cinema', 'course_authors_and_tutors', 'cust_name', 'decor', 'hire_date', 'location_code', 'nominee', 'program', 'project_outcomes', 'roles', 'seating', 'store', 'stu_gpa', 't1.building_id', 't1.county_id', 't1.cust_id', 't1.gymnast_id', 't1.manufacturer', 't1.organisation_id', 't1.region_id', 't1.reported_by_staff_id', 't1.station_id', 't2.albumid', 't2.city', 't2.color_description', 't2.oid', 't2.player_id', 't2.position', 't2.station_id', 't2.track_id', 't3.amenid', 't3.code', 't3.dormid', 't3.user_id', 't4.year', 'teaches', '0', '2009', 'highest_point', 'result', 't1.population', 't2.user_id', 't3.city', 't3.datasetid', 't5.authorid', 'user_profiles', '5000', 'allergytype', 'climber', 'competition_type', 'complaints', 'degrees', 'dept_code', 'documents_with_expenses', 'founded', 'gtype', 'main_industry', 'medicine_enzyme_interaction', 'policies', 'product_category_code', 'race', 'resolution', 'room', 'section', 'settlements', 't1.allergy', 't1.apt_id', 't1.lastname', 't1.party', 't2.amenid', 't2.apt_id', 't2.class_code', 't2.cname', 't2.film_id', 't2.instid', 't2.team_id_br', 't3.dept_code', 't3.dept_name', 't3.did', 't3.journalid', 't4.keyphrasename', 'visits', '150000', 'elimination', 'genre', 't1.datasetname', 't1.oid', 't3.house_number', 't3.restaurant_id', 't4.mid', 't4.name', 'train', 'activity', 'album', 'card_type_code', 'catalog_contents', 'competition', 'enzyme', 'faculty_participates_in', 'grade', 'inst', 'locations', 'match', 'medicine', 'ppos', 'procedures', 'project_staff', 'roomname', 't1.branch_id', 't1.country_id', 't1.cust_name', 't1.dormid', 't1.emp_num', 't1.firstname', 't1.room', 't2.artist_id', 't2.customer_last_name', 't2.dept_name', 't2.facid', 't3.balance', 't3.characteristic_id', 't3.characteristic_name', 't3.fname', 't3.msid', 't4.citingpaperid', 't5.keyphrasename', '30', 'airlines', 't1.state_name', 't2.department_id', 't3.citingpaperid', 't3.order_id', 'apartment_bookings', 'apt_type_code', 'bedtype', 'book_club', 'headquarter', 'job', 'patient', 'reservations', 'studio', 't1.color_code', 't1.company_id', 't1.course_name', 't1.film_id', 't1.player_id', 't2.characteristic_id', 't2.raceid', 't2.school_id', 't2.stu_num', 't3.lname', 'wrestler', '2014', 'allergy', 'budget', 'candidate', 'industry', 'languages', 'lowest_elevation', 't1.datasetid', 't1.pid', 't4.keyphraseid', 't5.keyphraseid', 'affected_region', 'distance', 'exhibition', 'gymnast', 'musical', 'publisher', 'shop', 'stadium', 'submission', 't1.artist_id', 't1.classroom', 't1.crs_code', 't1.storm_id', 't1.tourist_attraction_id', 't2.branch_id', 't2.classroom', 't2.customer_first_name', 't2.msid', 't2.physician', 't2.street_name', 't3.venuename', 'video_games', 'airport', 't1.department_id', 'baseprice', 'document_name', 'dorm_amenity', 'enroll', 'organization', 'product_characteristics', 'project_id', 'ref_colors', 'scientists', 't1.authid', 't1.cname', 't1.party_id', 't1.team_id', 't2.actid', 't2.authid', 't2.student_id', 'technician', 'duration', 'files', 'order_id', 't1.school_id', 't2.product_name', 'tra

In [47]:
def wrap_quotes(x):
    """Wrap a string with double quotes."""
    return f'"{x}"'

def get_foreing_in_text(row: pd.Series) -> DefaultDict:
    """
    Extract foreign keys from a Pandas Series object and format them into a dictionary.

    Args:
    row (pd.Series): A Pandas Series containing database information, including foreign keys.

    Returns:
    defaultdict: A dictionary mapping table IDs to formatted foreign key information.
    """
    table_to_foreing_string = defaultdict(str)

    for fkey in row.foreign_keys:
        to_column_id, from_column_id = fkey
        (to_table_id, to_column_name), (from_table_id, from_column_name) = row.column_names[to_column_id], row.column_names[from_column_id]
        to_column_name, from_column_name = wrap_quotes(to_column_name), wrap_quotes(from_column_name)
        from_table_name, to_column_type = wrap_quotes(row.table_names[from_table_id]), row.column_types[to_column_id]
        
        table_to_foreing_string[to_table_id] += f"{to_column_name} {to_column_type} from {from_table_name} {from_column_name}, "

    return table_to_foreing_string

def get_primary_in_text(row: pd.Series) -> DefaultDict:
    """
    Extract primary keys from a Pandas Series object and format them into a dictionary.

    Args:
    row (pd.Series): A Pandas Series containing database information, including primary keys.

    Returns:
    defaultdict: A dictionary mapping table IDs to formatted primary key information.
    """
    table_to_primary_string = defaultdict(str)
    for pkey in row.primary_keys:
        # [1, 4]
        table_id, columns_name = row.column_names[pkey]
        columns_name = wrap_quotes(columns_name)
        
        if table_id not in table_to_primary_string:
            table_to_primary_string[table_id] = columns_name
        else: 
            table_to_primary_string[table_id] += f", {columns_name}"

    return table_to_primary_string

In [48]:
def get_schema(row: pd.Series) -> str:
    schemas = []
    foreing_keys = get_foreing_in_text(row)
    primary_keys = get_primary_in_text(row)
    
    for table_id, table_name in enumerate(row.table_names):
#         table_name = wrap_quotes(table_name)
        table_name = table_name


        columns_name_list = []
        for (col_table_id, name), type in zip(row.column_names, row.column_types):
            if col_table_id == table_id:
#                 columns_name_list.append(f"{wrap_quotes(name)} {type}")
                columns_name_list.append(f"{name}")

                
        columns_name = " , ".join(columns_name_list)

#         table_schema = f"{table_name} {columns_name} foreign_key: {foreing_keys[table_id]} primary_key: {primary_keys[table_id]}"
        table_schema = f"{table_name} : {columns_name}"

        schemas.append(table_schema)

    formatted_schema = f" {SEP} ".join(schemas)
    return formatted_schema

In [49]:
tables.loc[:, "query_schema"] = tables.apply(lambda x: get_schema(x), axis=1)

In [50]:
tables.loc[:, "query_schema"].sample(5).iloc[0]

'city : city id , official name , status , area km 2 , population , census ranking  |  farm : farm id , year , total horses , working horses , total cattle , oxen , bulls , cows , pigs , sheep and goats  |  farm competition : competition id , year , theme , host city id , hosts  |  competition record : competition id , farm id , rank'

In [51]:
def process_splits(data: pd.DataFrame, tables: pd.DataFrame, lang: str = "en") -> pd.DataFrame:
    assert lang in {"ru", "en"}, "There are only 2 available languages: 'ru' / 'en'"
    data = data.merge(tables[["db_id", "query_schema"]], on="db_id")[["query", "question", "query_schema"]]

    data.loc[:, "query"] = data.apply(lambda x: x["query"][:-1], axis=1)

    data.loc[:, "question"] = data.apply(lambda x: f'{x["question"]} {x["query_schema"]}', axis=1)
    data = data.drop("query_schema", axis=1)

    return data

In [52]:
prepared_pauq_train = process_splits(pauq_train, tables)

In [54]:
m = []
for i, j in prepared_pauq_train.to_records(index=False):
    tmp = (len(i.split()), len(j.split()))
    m.append(tmp)
m = np.array(m)

In [55]:
for i in m:
    if i[1] > 400:
        print(i)

[ 25 930]
[ 25 928]
[ 20 928]
[ 20 927]
[ 20 928]
[ 20 929]
[ 29 936]
[ 29 948]
[  9 922]
[  9 926]
[  9 926]
[  9 928]
[ 29 932]
[ 29 930]
[ 27 929]
[ 27 930]
[  8 923]
[  8 924]
[ 27 927]
[ 27 931]
[ 13 924]
[ 13 924]
[ 10 927]
[ 10 929]
[ 12 929]
[ 12 928]
[ 27 927]
[ 27 928]
[ 21 929]
[ 21 928]
[ 25 927]
[ 25 929]
[ 33 930]
[ 33 929]
[ 14 931]
[ 14 933]
[ 20 929]
[ 20 930]
[ 24 924]
[ 24 927]
[ 29 929]
[ 29 929]
[ 25 932]
[ 25 933]
[ 46 928]
[ 46 928]
[ 12 930]
[ 12 928]
[ 24 926]
[ 24 926]
[ 24 925]
[ 24 923]
[ 14 923]
[ 14 925]
[ 17 925]
[ 17 924]
[ 13 924]
[ 13 925]
[  8 921]
[  8 920]
[ 23 924]
[ 23 926]
[ 22 923]
[ 22 925]
[ 26 929]
[ 26 928]
[ 28 934]
[ 28 933]
[ 67 932]
[ 67 937]
[ 26 930]
[ 26 929]
[ 24 926]
[ 24 926]
[ 11 924]
[ 11 920]
[  8 923]
[  8 927]
[ 13 920]
[ 13 923]
[ 24 920]
[ 24 922]
[  8 922]
[ 16 928]
[ 13 401]
[ 37 401]
[ 37 403]

In [56]:
import json

def json2jsonl(df, writename):
    with open(writename, 'w', encoding='utf8') as f:
        for i, j in df.to_records(index=False):
            d = dict()
            d['src'] = j.strip()
            d['trg'] = i.strip()
            json.dump(d, f)
            f.write('\n')

In [57]:
json2jsonl(prepared_pauq_train, "train.jsonl")

In [58]:
prepared_pauq_train

,query,question
0,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...
1,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads..."
2,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac..."
3,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...
4,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...
...,...,...
8795,"SELECT t2.house_number , t1.name FROM LOCATI...",where can i find a restaurant in the bay area ...
8796,"SELECT t2.house_number , t1.name FROM LOCATI...",give me a good restaurant in the bay area ? ge...
8797,"SELECT t2.house_number , t1.name FROM LOCATI...",what are some good restaurants in the bay area...
8798,"SELECT t2.house_number , t1.name FROM LOCATI...",give me some good restaurants in the bay area ...
8799,"SELECT t2.house_number , t1.name FROM LOCATI...",what is a good restaurant in the bay area ? ge...